body {
    margin: 20px;
    background-color: rgb(252, 214, 220);
}

#headline,
.content-description{
    text-align: center;
    font-family: "Lucida Console",Georgia, 'Times New Roman', Times, serif;
}

.content-description,
.definition-section{
    font-size: small;
    color: rgb(133, 133, 133);
}

.content-header,
.subcontent-header{
    font-family: "Lucida Handwriting", Georgia, 'Times New Roman', Times, serif;
}

.maincontent,
.definition-section{
    padding: 20px 50px;
}

.maincontent{
    width: 700px;
    margin: 0 auto;
    background-color: azure;
    
}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    padding: 16px;
}

.section-one,
.section-two,
.section-three{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

ul{
    /* this removes the dots on the list items*/
    list-style-type: none;
}

.maincontent p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0;
}

.maincontent p:hover{
    background-color: rgb(250, 221, 226);
}

.maincontent p:active{
    background-color: pink
}
