body {
    background-color: rgb(252, 214, 220);
    margin: 0;
    height: 100vh;
}

.header{
    font-family: "Lucida Console",Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;
}

.content-description,
.footer{
    font-size: small;
    color: rgb(133, 133, 133);
}

.content-header,
.subcontent-header{
    font-family: "Lucida Handwriting", Georgia, 'Times New Roman', Times, serif;
}

.maincontent{
    width: 700px;
    margin: 0 auto;
    background-color: azure;
    padding: 16px 64px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    padding: 16px;
}

.section-one,
.section-two,
.section-three{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

ul{
    /* this removes the dots on the list items*/
    list-style-type: none;
}

.maincontent p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin: 0;
}

.maincontent p:hover{
    background-color: rgb(250, 221, 226);
}

.maincontent p:active{
    background-color: pink
}

.footer{
    font-family: "Lucida Console",Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 100px;
}

.footer-sub{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    gap: 8px;
}

.question{
    font-weight: bold;
    font-size: 16px;
}
